*{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    margin: 0px;
    padding: 0px;
}
ul{
    padding-bottom: 40px;
}
li{
    list-style: none;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
}
.sidebar,.navbar,.projects,.announcements,.trending{
    border: .2px solid black;
}
/* main container design */
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 730px;
    /* text-align: ; */
}
/* sidebar */
.sidebar{
    grid-row: 1/4;
    padding-left: 20px;
    background-color: #3b0086;
    color: white;
    
}
.dashboard h3{
    font-size: 35px;
    padding-bottom: 100px;
    padding-top: 40px;
    font-weight: 800;
}
/* navbar */
.navbar{
    grid-column: 2/4;
}
/* projects */
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-row: 2/4;
    gap: 15px;
}
.projects .card{
    height: 200px;
}
